player-connection-mode=Listen
player-connection-guid=3712750832
player-connection-debug=0
player-connection-project-name=TicTacToe
player-connection-ip=192.168.1.23
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=a6a805b2c1154542bd785b2ab9450404
